<style type="text/css">
#gotop{
    display:none;
    width:55px;
    height:55px;
    position:fixed;
    right:50px;
    bottom:50px;
    background:url(images/backtop2013.png) no-repeat -70px 0px;
}
</style>
